<h3>first name: <%= @json_response['first_name'] %></h3>
<h3>last name: <%= @json_response['last_name'] %></h3>
<h3>display name: <%= @json_response['display_name'] %></h3>
<h3>country name: <%= @json_response['country_name'] %></h3>
<h3>country code: <%= @json_response['country_code'] %></h3>

<div>
  <h3>country flag:</h3>
  <img class="image" border="0" style='width: 30rem' src=<%=@json_response['country_flag']%>>
</div>

<h3>ip address: <%= @json_response['ip_address'] %></h3>